@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --backgroundColor: #475569;
  --primaryColor: #334155;
  --secondaryColor: #4682b4;
  --textBackground: #94a3b8;
  --hoverColor: #4682b4;
  --hoverTextColor: #334155;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundColor);
}

main,
form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: var(--backgroundColor);
  overflow-y: auto;
  overflow-x: hidden;
}

.main-container {
  display: flex;
  justify-content: center;
}

.main-form-container {
  margin: 12px;
}

.main-container {
  margin: 16px;
}

input {
  background-color: var(--textBackground);
  border-style: none;
  border-radius: 8px;
}

input[type="text"],
option {
  width: 200px;
  height: 20px;
  padding: 5px;
}

section {
  border-bottom: solid black 1px;
  margin-bottom: 6px;
  padding-bottom: 10px;
}

/* Header */
header {
  height: 40px;
  display: flex;
  width: 100%;
  background-color: var(--primaryColor);
}

.nav-form,
.nav-saved {
  flex: 1; /* Distribute the space evenly */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

/* Specific styles for each tab */
.nav-form {
  background-color: var(--backgroundColor);
  border-radius: 8px 8px 0px 0px;
}

.nav-saved {
  background-color: var(--primaryColor);
}

/* Optional: Add hover effects for better user experience */
.nav-form:hover,
.nav-saved:hover {
  background-color: var(
    --hoverColor
  ); /* Define a hover color in your variables */
  color: var(--hoverTextColor); /* Optional: Change text color on hover */
}

/* Section 1 */
.section-1 {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px; /* Adjust the gap between labels and inputs as needed */
  align-items: center; /* Center align labels and inputs vertically */
  padding: 8px;
}

.section-1 label {
  justify-self: end; /* Align labels to the right */
}

/* Section 2 */

.section-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px; /* Adjust the gap as needed */
  padding: 8px;
}

.checkbox-container-title {
  font-weight: bold;
}

.checkboxes {
  display: grid;
  grid-template-columns: repeat(4, auto 1fr);
  gap: 10px; /* Adjust the gap between labels and checkboxes as needed */
  align-items: center; /* Center align labels and checkboxes vertically */
}

.checkbox {
  display: contents; /* Use contents to make the children directly in the grid */
}

.checkbox label {
  justify-self: end; /* Align labels to the right */
}

.checkbox input[type="checkbox"] {
  width: 20px; /* Set the desired width of checkbox */
  height: 20px; /* Set the desired height of checkbox */
  margin: 0; /* Remove default margin */
  cursor: pointer;
}

/* Section 3 */

.section-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* Adjust the gap between elements as needed */
  align-items: center;
  max-width: 600px; /* Adjust the width as needed */
  margin: auto; /* Center the section */
}

.radio-container {
  text-align: center;
}

.text-box,
.radio-container {
  display: flex;
  flex-direction: column;
}

.text-box label,
.radio-title {
  margin-bottom: 5px;
}

.text-box input {
  width: 100%;
  box-sizing: border-box;
}

.radios {
  display: flex;
  justify-content: space-around;
}

.radio {
  display: flex;
  align-items: center;
}

.radio input[type="radio"] {
  width: auto;
  margin-right: 5px;
  cursor: pointer;
  margin: 4px;
}

/* Notes Container */

.notes-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  padding: 8px;
}

.notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--textBackground);
  border-radius: 8px;
}

textarea {
  height: 90%;
  margin: 6px;
  color: black;
  border-style: none;
  background-color: transparent;
  padding: 6px;
}

textarea:focus {
  border-style: none;
  outline: none;
}

/* Second Container */

.second-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border: solid black 1px;
  border-radius: 8px;
  height: auto;
}

.add-transaction {
  padding: 6px;
  text-align: center;
}

.add-transaction-button {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border-style: none;
  background-color: transparent;
  font-size: 1.1rem;
  font-weight: 250;
}

.add-transaction-button:hover {
  transform: scale(1.2);
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  gap: 12px;
  margin: 16px;
}

.buttons-container button {
  padding: 8px;
  background-color: var(--secondaryColor);
  border-style: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Transaction Forms */

#transaction-container {
  display: flex;
  flex-wrap: wrap;
}
.transaction-card {
  background-color: var(--secondaryColor);
  padding: 10px;
  margin: 8px;
  border-radius: 8px;
  position: relative;
}

.close-card {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 6px;
  transition: transform 1s ease-in;
}

.close-card:hover {
  transform: scale(1.5);
}

.transaction-card h3 {
  border-bottom: solid black 1px;
  padding: 4px;
  margin-bottom: 6px;
}

.option-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
  padding: 8px;
}

/* Footer  */

footer {
  position: sticky;
  width: 100%;
  padding: 10px;
  background-color: var(--primaryColor);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

.persistent-note {
  width: 60%;
}

textarea#persistent-notes {
  width: 100%;
}

.important-buttons {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

#save-persistent-button,
#reset-persistent-button {
  padding: 8px;
  background-color: var(--textBackground);
  cursor: pointer;
  margin: 6px;
  border-style: none;
  border-radius: 6px;
}

/* Submit Button */
.submit-reset-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem;
  gap: 16px;
}

#submit-button,
#reset-button {
  background-color: var(--secondaryColor);
  cursor: pointer;
  font-size: 2rem;
  border-style: none;
  border-radius: 8px;
  padding: 8px;
}

#submit-button:hover,
#reset-button:hover {
  background-color: var(--primaryColor);
  color: var(--hoverColor);
}
